*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 100%;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}



      
      body {
          background: linear-gradient(to right, #69ff55, #8c00ff);
      }



      .left {
        box-sizing: inherit;
          object-fit: cover;
          margin-left: -1rem;
          position: absolute;
          top: 130px;
          left: 5px;
          float: left;
          width: 100%;
          max-width: 700px;
          max-height: 100%;
          height: 1500px;
          padding: 0px;
      }




       .btn {
                text-align: center;
        position: relative;
        top: 500px;
        right: -225px;
 padding: 1.1em 2em;
 background: none;
 border: 2px solid #fff;
 font-size: 15px;
 color: #131313;
 cursor: pointer;
 position: relative;
 overflow: hidden;
 transition: all 0.3s;
 border-radius: 12px;
 background-color: #F6EFD2;
 font-weight: bolder;
 box-shadow: 0 2px 0 2px #000;
}

.btn:before {
 content: "";
 position: absolute;
 width: 100px;
 height: 120%;
 background-color: #ff6700;
 top: 50%;
 transform: skewX(30deg) translate(-150%, -50%);
 transition: all 0.5s;
}

.btn:hover {
 background-color: #4cc9f0;
 color: #fff;
 box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before {
 transform: skewX(30deg) translate(150%, -50%);
 transition-delay: 0.1s;
}

.btn:active {
 transform: scale(0.9);
}


.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 2rem 2rem;
background-color: #131313;
color: #fff;
}

.navbar a {
color: #fff;
text-decoration: none;
margin-right: 5rem;
}

.navbar__logo {
font-weight: bold;
}

.bb{
    position: relative;
    overflow: hidden;
    bottom: -80px;
    left: 720px;
    width: 700px;
    height: 600px;



}


